{
	"TOKEN": "NzI0MTQ4Mjk2MzA1NzM3NzU5.XvBZzQ.ZCJw7PaXCvXzoUGkq5RxM9oUkk4",
	"YOUTUBE_API_KEY": "AIzaSyDC3p-OXilZBsZXERimMk4ZD2PChPWdEiQ",
	"MAX_PLAYLIST_SIZE": 10,
	"PREFIX": "?",
  "PRUNING": false
}
